{% extends 'base2.html' %}
{% block title %}Inicio{% endblock %}
{% block content %}
{% load static %}

  <!-- Header-->
    <header class="py-5">
        <div class="container px-5">
            <div class="row justify-content-center">
                <div class="col-lg-8 col-xxl-6">
                    <div class="text-center my-5">
                        <h1 class="fw-bolder mb-3">Disfrutá de Traslasierra junto a Hotel Aguero</h1>
                        <p class="lead fw-normal text-muted mb-4">Vivi increibles experiencias en el Valle de Traslasierra</p>
                    </div>
                </div>
            </div>
        </div>
    </header>

  <!-- About section one-->
    <section class="py-5 bg-light" id="scroll-target">
        <div class="container px-5 my-5">
            <div class="row gx-5 align-items-center">
                <div class="col-lg-6"><img class="img-fluid rounded mb-5 mb-lg-0" src="{% static 'WebHotel/hotelaguerocartel.jpg' %}" /></div>
                <div class="col-lg-6">
                    <h2 class="fw-bolder">Hotel Aguero</h2>
                    <p class="lead fw-normal text-muted mb-0"> Ofrecemos alojamiento en Mina Clavero, a solo 50 metros de la avenida Mitre. El alojamiento cuenta con un jardín precioso y conexión wifi gratis. El desayuno diario está incluido.</p>
                </div>
            </div>
        </div>
    </section>
    <!-- About section two-->
    <section class="py-5">
        <div class="container px-5 my-5">
            <div class="row gx-5 align-items-center">
                <div class="col-lg-6 order-first order-lg-last"><img class="img-fluid rounded mb-5 mb-lg-0" src="{% static 'WebHotel/piletaaguero.jpg' %}"/></div>
                <div class="col-lg-6">
                    <h2 class="fw-bolder">Disfruta de las vacaciones en la pileta</h2>
                    <p class="lead fw-normal text-muted mb-0">¡Disfruta de las vacaciones en la pileta contratada Hotel Agüero! A tan sólo 5 cuadras de las instalaciones... La entrada viene incluída para todos los huéspedes </p>
                </div>
            </div>
        </div>
    </section>
    <!-- imagen preview section-->
    <section class="py-5">
        <div class="container px-5">
            <h2 class="fw-bolder fs-5 mb-4">Imagenes de las intalaciones</h2>
            <div class="row gx-5">
                <div class="col-lg-4 mb-5">
                    <div class="card h-100 shadow border-0">
                        <img class="card-img-top" src="{% static 'WebHotel/eventoaguero.jpg' %}" alt="..." />
                        <div class="card-body p-4">
                            <a class="text-decoration-none link-dark stretched-link" href="#!"><div class="h5 card-title mb-3">Salon de eventos</div></a>
                            <p class="card-text mb-0">Si estás buscando el lugar perfecto para celebrar una boda, quinceañera, fiesta de graduación, o cualquier otro evento especial, has llegado al sitio correcto. Nuestro salón es el lugar ideal para crear recuerdos inolvidables que durarán para toda la vida.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mb-5">
                    <div class="card h-100 shadow border-0">
                        <img class="card-img-top" src="{% static 'WebHotel/restaurantaguero.jpg' %}" alt="..." />
                        <div class="card-body p-4">
                            <a class="text-decoration-none link-dark stretched-link" href="#!"><div class="h5 card-title mb-3">Conoce nuestro restaurant</div></a>
                            <p class="card-text mb-0">Nuestro restaurante cuenta con un ambiente cálido y acogedor, donde podrás disfrutar de una cena romántica o celebrar una ocasión especial con tus amigos y familiares. También ofrecemos un servicio de catering para eventos privados y corporativos, para llevar nuestra deliciosa comida a cualquier lugar que necesites.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mb-5">
                    <div class="card h-100 shadow border-0">
                        <img class="card-img-top" src="{% static 'WebHotel/hotelaguerocartel.jpg' %}" alt="..." />
                        <div class="card-body p-4">
                            <a class="text-decoration-none link-dark stretched-link" href="#!"><div class="h5 card-title mb-3">Nuestro hotel cuenta con una amplia variedad de habitaciones.</div></a>
                            <p class="card-text mb-0">Desde habitaciones acogedoras hasta lujosas suites, tenemos el espacio perfecto para satisfacer todas tus necesidades. Además, todas nuestras habitaciones cuentan con servicios como acceso a internet y televisión por cable para hacer tu estancia más cómoda.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-end mb-5 mb-xl-0">
                <a class="text-decoration-none" href="/galeria">
                    Mas Imagenes
                    <i class="bi bi-arrow-right"></i>
                </a>
            </div>
        </div>
    </section>

{% endblock %}