{% extends 'base2.html' %}
{% block title %}Inicio{% endblock %}
{% block content %}
{% load static %}

    <!-- Page Content-->
    <section class="py-5">
        <div class="container px-5 my-5">
            <div class="text-center mb-5">
                <h1 class="fw-bolder">Galeria</h1>
                <p class="lead fw-normal text-muted mb-0">Fotos de Hotel Augero</p>
            </div>
            <div class="row gx-5">
                <div class="col-lg-6">
                    <div class="position-relative mb-5 ">
                        <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
                          <!-- Boosted mod -->
                          <div class="carousel-indicators">
                            <button type="button" data-bs-target="#carouselExampleInterval" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                            <button type="button" data-bs-target="#carouselExampleInterval" data-bs-slide-to="1" aria-label="Slide 2"></button>
                            <button type="button" data-bs-target="#carouselExampleInterval" data-bs-slide-to="2" aria-label="Slide 3"></button>
                          </div>
                          <!-- End mod -->
                          <div class="carousel-inner">
                            <div class="carousel-item active" data-bs-interval="10000">
                              <img src="{% static 'WebHotel/eventoaguero.jpg' %}" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item" data-bs-interval="2000">
                              <img src="{% static 'WebHotel/eventoaguero.jpg' %}" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                              <img src="{% static 'WebHotel/eventoaguero.jpg' %}" class="d-block w-100" alt="...">
                            </div>
                          </div>
                          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                          </button>
                          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                          </button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="position-relative mb-5">
                        <div id="carouselExampleInterval2" class="carousel slide" data-bs-ride="carousel">
                          <!-- Boosted mod -->
                          <div class="carousel-indicators">
                            <button type="button" data-bs-target="#carouselExampleInterval2" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                            <button type="button" data-bs-target="#carouselExampleInterval2" data-bs-slide-to="1" aria-label="Slide 2"></button>
                            <button type="button" data-bs-target="#carouselExampleInterval2" data-bs-slide-to="2" aria-label="Slide 3"></button>
                          </div>
                          <!-- End mod -->
                          <div class="carousel-inner">
                            <div class="carousel-item active" data-bs-interval="10000">
                              <img src="{% static 'WebHotel/eventoaguero.jpg' %}" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item" data-bs-interval="2000">
                              <img src="{% static 'WebHotel/eventoaguero.jpg' %}" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                              <img src="{% static 'WebHotel/eventoaguero.jpg' %}" class="d-block w-100" alt="...">
                            </div>
                          </div>
                          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval2" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                          </button>
                          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval2" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                          </button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="position-relative mb-5 mb-lg-0">
                        <div id="carouselExampleInterval3" class="carousel slide" data-bs-ride="carousel">
                          <!-- Boosted mod -->
                          <div class="carousel-indicators">
                            <button type="button" data-bs-target="#carouselExampleInterval3" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                            <button type="button" data-bs-target="#carouselExampleInterval3" data-bs-slide-to="1" aria-label="Slide 2"></button>
                            <button type="button" data-bs-target="#carouselExampleInterval3" data-bs-slide-to="2" aria-label="Slide 3"></button>
                          </div>
                          <!-- End mod -->
                          <div class="carousel-inner">
                            <div class="carousel-item active" data-bs-interval="10000">
                              <img src="{% static 'WebHotel/eventoaguero.jpg' %}" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item" data-bs-interval="2000">
                              <img src="{% static 'WebHotel/eventoaguero.jpg' %}" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                              <img src="{% static 'WebHotel/eventoaguero.jpg' %}" class="d-block w-100" alt="...">
                            </div>
                          </div>
                          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval3" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                          </button>
                          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval3" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                          </button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="position-relative">
                        <div id="carouselExampleInterval4" class="carousel slide" data-bs-ride="carousel">
                          <!-- Boosted mod -->
                          <div class="carousel-indicators">
                            <button type="button" data-bs-target="#carouselExampleInterval4" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                            <button type="button" data-bs-target="#carouselExampleInterval4" data-bs-slide-to="1" aria-label="Slide 2"></button>
                            <button type="button" data-bs-target="#carouselExampleInterval4" data-bs-slide-to="2" aria-label="Slide 3"></button>
                          </div>
                          <!-- End mod -->
                          <div class="carousel-inner">
                            <div class="carousel-item active" data-bs-interval="10000">
                              <img src="{% static 'WebHotel/eventoaguero.jpg' %}" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item" data-bs-interval="2000">
                              <img src="{% static 'WebHotel/eventoaguero.jpg' %}" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                              <img src="{% static 'WebHotel/eventoaguero.jpg' %}" class="d-block w-100" alt="...">
                            </div>
                          </div>
                          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval4" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                          </button>
                          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval4" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                          </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}


