{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>{{ title }} | Hotel Agüero</title>

    <link rel="icon" href="{% static 'Hotel/logo-imagen.png' %}">
    <link rel="stylesheet" href="{% static 'Hotel/main.css' %}">
    <script src="{% static 'Hotel/actions.js' %}"></script>

    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>

    <script src="https://kit.fontawesome.com/0b058192e0.js" crossorigin="anonymous"></script>
</head>
<body>
<div class="container-fluid">
    <nav class="navbar navbar-expand-sm" style="background-color:#F3B13C">
  <div class="container-fluid">
    <a class="navbar-brand" href="/index">
      <img src="{% static 'Hotel/logo1.png' %}" alt="logo" style="width:40px;" class="rounded-pill">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
              <ul class="navbar-nav">

      <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="/reservas" role="button" data-bs-toggle="dropdown">Reservas</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/reservas">Lista</a></li>
            <li><a class="dropdown-item" href="#">Calendario</a></li>
          </ul>
      </li>

          <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Precios</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/listasprecio">Lista</a></li>
            <li><a class="dropdown-item" href="#">Calendario</a></li>
          </ul>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/clientes">Clientes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/habitaciones">Habitaciones</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/movimientoscaja">Caja</a>
      </li>
    </ul>
    </div>
  </div>
</nav>

{% block content %}
{% endblock %}

</div>
</body>
</html>