<form method="post" id="baja-caja-form" action="/movimientoscaja/delete/{{ object.pk }}/">
        {% csrf_token %}

        <p>¿Está seguro que desea eliminar el {{ object.get_idTipoMovimiento_display }} por {{ object.get_idConcepto_display }} de ${{ object }}?</p>

      <div class="modal-footer flex-column border-top-0">
        <button type="submit" class="btn btn-lg btn-danger w-100 mx-0 mb-2">Eliminar</button>
        <button type="button" class="btn btn-lg btn-light w-100 mx-0" data-bs-dismiss="modal" >Cancelar</button>
      </div>

</form>