{% extends 'base.html' %}
{% block content %}

    {% if messages %}
        {% for message in messages %}
    <div class="row">
           <div class="alert {{ message.tags }} alert-dismissible col-md-6">
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                {{ message }}
            </div>
    </div>

        {% endfor %}
    {% endif %}

   <div class="container-fluid">
    <h3>Cliente</h3>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <p><input type="submit"></p>
    </form>
        </div>

{% endblock %}