{% extends 'base.html' %}

{% block title %}Cliente{% endblock %}

{% block content %}

<div class="col-md-8 offset-md-4 mt-5">

    {% if messages %}
        {% for message in messages %}
    <div class="row">
           <div class="alert {{ message.tags }} alert-dismissible col-md-6">
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                {{ message }}
            </div>
    </div>

        {% endfor %}
    {% endif %}


    <div class="container-fluid ">
        <h3>Cliente</h3>
        <form method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-6">
                    {{ form.as_p }}
                </div>

            </div>

            <button type="submit" class="btn btn-success">Enviar</button>
<!--            <p><input type="submit"></p>-->
        </form>
    </div>
</div>

{% endblock %}