{% extends 'base.html' %}
{% block title %}Habitación{% endblock %}
{% block content %}

<main id="main" class="main">

    <div class="pagetitle">
      <h1>Habitaciones</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/index">Inicio</a></li>
          <li class="breadcrumb-item"><a href="/habitaciones">Habitaciones</a></li>
          <li class="breadcrumb-item active">Agregar</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

 <div class="">

    {% if messages %}
        {% for message in messages %}
    <div class="row">
           <div class="alert {{ message.tags }} alert-dismissible col-md-6">
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                {{ message }}
            </div>
    </div>

        {% endfor %}
    {% endif %}



        <div class="col-md-3 offset-md-0 m-0">
        <div class="card">
            <div class="card-body">
              <h5 class="card-title">Agregar habitacion</h5>
        <form method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-12">
                    {{ form.as_p }}
                </div>

            </div>
            <div class="text-center">
            <p><input type="submit" class="btn btn-success"></p>
            </div>
        </form>
            </div>
    </div>

</main>
{% endblock %}