{% extends 'base.html' %}
{% block title %}Habitación{% endblock %}
{% block content %}

<main id="main" class="main">

    <div class="pagetitle">
      <h1>Habitaciones</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/index">Inicio</a></li>
          <li class="breadcrumb-item"><a href="/habitaciones">Habitaciones</a></li>
          <li class="breadcrumb-item active">Agregar</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->


    {% if messages %}
        {% for message in messages %}
    <div class="row">
           <div class="alert {{ message.tags }} alert-dismissible col-md-6">
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                {{ message }}
            </div>
    </div>

        {% endfor %}
    {% endif %}

{% if form.non_field_errors %}
    <div class="row">
        {% for error in form.non_field_errors %}
        <div class="alert alert-danger alert-dismissible col-md-6" role="alert">
            {{ error|safe }}
        </div>
        {% endfor %}

    </div>
{% endif %}

        <div class="col-md-3 offset-md-0 m-0">
        <div class="card">
            <div class="card-body">
              <h5 class="card-title">Agregar habitacion</h5>
        <form method="post">
            {% csrf_token %}

             <div class="row" style="margin-top: 15px">
                    <div class="col-md-12">
                    <label>Numero:</label>
                    {{ form.numero}}
                    </div>
                </div>

                <div class="row" style="margin-top: 15px">
                    <div class="col-md-12">
                    <label>Plazas:</label>
                    {{ form.plazas }}
                </div>
                </div>
                <div class="row" style="margin-top: 15px">
                    <div class="col-md-12">
                    <label>Estado:</label>
                    {{ form.idEstado}}
                    </div>
                </div>
                    <div class="row" style="margin-top: 15px">
                    <div class="col-md-12">
                    <label>Planta baja:</label>
                    {{ form.esPlantaBaja}}
                </div>
                    </div>
            <br>
            <div class="row">
                <div class="col-12">
                    <div class="text-center">
                <a type="button" class="btn btn-primary" href="/habitaciones/" >Volver</a>
            <input type="submit" class="btn btn-success">
            </div>
                </div>
            </div>

        </form>
            </div>
    </div>
        </div>

</main>
{% endblock %}