{% extends 'base.html' %}
{% block title %}Reservas{% endblock %}
{% block content %}

<main id="main" class="main">

    <div class="pagetitle">
      <h1>Reservas</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/index">Home</a></li>
          <li class="breadcrumb-item">Reservas</li>
          <li class="breadcrumb-item active">Lista</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

<div class="container-fluid my-3">
   <div class="row">
       <div class="col-md-9">
            <h3 class="m-3" style ="float:left;">Reservas</h3>

       </div>
       <div class="col-md-2">

            <a class="btn btn-success" href="add" style="float: right;"><i class="fa-solid fa-plus"></i> Agregar</a>
       </div>
       <div class="col-md-1">
            <a href="{% url 'reporte_reservas_pdf' %}" class="btn btn-secondary btn-block" style="float: right;">
                <i class="fa-regular fa-file-pdf"></i> PDF
            </a>
        </div>
   </div>

     {% if messages %}
        {% for message in messages %}
    <div class="row">
           <div class="alert {{ message.tags }} alert-dismissible col-md-6">
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                {{ message }}
            </div>
    </div>

        {% endfor %}
    {% endif %}


<div class="row">
    <div class="col-md-12">
        <div class="card">


        <div class="card-body">
            <div class="row">
                <div class="col-md-3 align-self-start">
                    <h5 class="card-title">Tabla de Reservas</h5>
                </div>

                    <div class="col-md-2 offset-md-7" style="margin-top:20px;">
                        <div class="dropdown" style="width:250px;">
                          <button class="btn btn-outline-secondary dropdown-toggle"  type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fa-solid fa-filter"></i> Filtrar
                          </button>
                          <form method="GET" id="filtro-form">
                              {% csrf_token %}
                              <ul class="dropdown-menu">
                                <li>
                                    <div class="form-group container">
                                        <label>Desde:</label>
                                        {{ form.fechaDesde }}
                                    </div>
                                </li>
                                <li>
                                    <div class="form-group container" style="margin-top:10px;">
                                        <label>Hasta:</label>
                                        {{ form.fechaHasta }}
                                    </div>
                                </li>
                                <li>
                                    <div class="form-check form-switch container" style="margin-left:10px; margin-top:10px;">
                                        <label>Mostrar históricas</label>
                                        {{ form.mostrarHistoricas }}
                                    </div>
                                </li>
                                  <li>
                                      <div class="form-check form-switch container" style="margin-left:10px; margin-top:10px;">
                                        <label>Solo gestión pendiente</label>
                                        {{ form.soloGestionPendiente }}
                                    </div>
                                  </li>
                                   <li><hr class="dropdown-divider" style="margin-top:10px;"></li>
                                  <li style="display: flex; justify-content: center;">
                                      <button class="btn btn-sm btn-outline-danger" style="margin-top:10px;" onclick="LimpiarFiltros()">Limpiar filtros</button>
                                  </li>
                              </ul>
                          </form>
                        </div>
                    </div>
            </div>

            <div class="table-responsive">
                <table class="table table-hover" >
                    <tr>
                        <th>Id</th>
                        <th>Hab</th>
                        <th>Pax</th>
                        <th>Cliente</th>
                        <th>Check-in</th>
                        <th>Check-out</th>
                        <th>Saldo</th>
                        <th style="width: 1%"></th>
                        <th style="width: 1%"></th>
                    </tr>
                    {% for reserva in reservas %}
                    <tr {% if reserva.reserva_vencida %}style="background-color:#FFE4E4;" title="Esta reserva fue realizada hace 2 días o&#10más pero aún no se registra una seña"{% endif %}>
                        <td>{{ reserva.pk }}</td>
                        {% if reserva.idHabitacion is None %}
                        <td class="text-warning blink" style="font-size:23"><i class="fa-solid fa-triangle-exclamation"></i></td>
                        {% else %}
                        <td>{{ reserva.idHabitacion }}</td>
                        {% endif %}
                        <td>{{ reserva.cantidadPersonas }}</td>
                        <td>{{ reserva.idCliente }}</td>
                        <td>{{ reserva.fechaIngreso|date:"d/m/Y" }}</td>
                        <td>{{ reserva.fechaEgreso|date:"d/m/Y" }}</td>
                        <td>{{ reserva.saldo }}</td>
                        <td><a class="btn btn-outline-primary btn-sm" href="edit/{{ reserva.pk }}">Editar</a></td>
                        <td><a class="btn btn-outline-danger btn-sm" href="delete/{{ reserva.pk }}">Borrar</a></td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        </div>
    </div>
</div>


    {% include 'paginator.html' %}
</div>

</main>

<script type="text/javascript">
document.querySelectorAll('[name="fechaDesde"], [name="fechaHasta"], [name="mostrarHistoricas"], [name="soloGestionPendiente"]').forEach(function(element) {
  element.onchange = function() {
    document.getElementById('filtro-form').submit();
  };
});

function LimpiarFiltros(){
    document.querySelectorAll('[name="fechaDesde"], [name="fechaHasta"]').forEach(function(element) {
        element.value = '';
    });
    document.querySelectorAll('[name="mostrarHistoricas"], [name="soloGestionPendiente"]').forEach(function(element) {
        element.value = false;
    });
}


</script>

{% endblock %}