{% extends 'base.html' %}
{% block title %}Caja{% endblock %}

{% block content %}

<main id="main" class="main">

    <div class="pagetitle">
      <h1>Caja</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/index">Home</a></li>
          <li class="breadcrumb-item">Caja</li>
          <li class="breadcrumb-item active">Lista</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

<div class="container-fluid my-3">
        <div class="row">
       <div class="col-md-9">
            <h3 class="m-3" style ="float:left;">Caja</h3>

       </div>
       <div class="col-md-2">

            <a class="btn btn-success m-3" href="add" style="float: right;"><i class="fa-solid fa-plus"></i> Agregar</a>
       </div>
       <div class="col-md-1">
            <button onclick="GenerarPDF()" class="btn btn-secondary btn-block" style="margin-top:15px;">
                <i class="fa-regular fa-file-pdf"></i> PDF
            </button>
        </div>
   </div>

     {% if messages %}
        {% for message in messages %}
    <div class="row">
           <div class="alert {{ message.tags }} alert-dismissible col-md-6">
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                {{ message }}
            </div>
    </div>

        {% endfor %}
    {% endif %}

    <div class="row">
    <div class="col-md-12">


            <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-2 align-self-start">
                        <h5 class="card-title">Tabla de caja</h5>
                    </div>
                    <div class="col-md-2 offset-md-8" style="margin-top:20px;">
                        <div class="dropdown">
                          <button class="btn btn-outline-secondary dropdown-toggle"  type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fa-solid fa-filter"></i> Filtrar
                          </button>
                          <form method="GET" id="filtro-form">
                              {% csrf_token %}
                              <ul class="dropdown-menu">
                                <li>
                                    <div class="form-group container">
                                        <label>Desde:</label>
                                        {{ form.fechaDesde }}
                                    </div>
                                </li>
                                <li>
                                    <div class="form-group container" style="margin-top:10px;">
                                        <label>Hasta:</label>
                                        {{ form.fechaHasta }}
                                    </div>
                                </li>
                                <li>
                                    <div class="form-check form-switch container" style="margin-left:10px; margin-top:10px;">
                                        <label>Mostrar ingresos</label>
                                        {{ form.ingresos }}
                                    </div>
                                </li>
                                  <li>
                                      <div class="form-check form-switch container" style="margin-left:10px; margin-top:10px;">
                                        <label>Mostrar Egresos</label>
                                        {{ form.egresos }}
                                    </div>
                                  </li>
                                   <li><hr class="dropdown-divider" style="margin-top:10px;"></li>
                                  <li style="display: flex; justify-content: center;">
                                      <button class="btn btn-sm btn-outline-danger" style="margin-top:10px;" onclick="LimpiarFiltros()">Limpiar filtros</button>
                                  </li>
                              </ul>
                          </form>
                        </div>
                    </div>
                </div>


    <div class="table-responsive">
         <div class="table-responsive">
        <table class="table table-hover">
        <tr>
            <th style="width: 1%"></th>
            <th>Fecha</th>
            <th>Concepto</th>
            <th>Monto</th>
            <th style="width: 1%"></th>
            <th style="width: 1%"></th>
        </tr>
        {% for mov in cajaMov %}
        <tr>
            <td style="text-align: center; width: 1%;" class="pointer" onclick="ViewItem({{ mov.pk }})">
                {% if mov.idTipoMovimiento == "IN" %}
                    <i style="color: green;" class="fa-solid fa-circle-arrow-up"></i>
                {% else %}
                    <i style="color: red;" class="fa-solid fa-circle-arrow-down"></i>
                {% endif %}
            </td>
            <td class="pointer" onclick="ViewItem({{ mov.pk }})">{{ mov.fecha|date:'d/m/Y' }}</td>
            <td class="pointer" onclick="ViewItem({{ mov.pk }})">{{ mov.get_idConcepto_display}}</td>
            <td class="pointer" onclick="ViewItem({{ mov.pk }})">$ {{ mov.monto }}</td>
            <td style="width: 1%"><a class="btn btn-outline-primary btn-sm" href="edit/{{ mov.pk }}">Editar</a></td>
            <td style="width: 1%"><a class="btn btn-outline-danger btn-sm eliminar-caja" data-id="{{ mov.pk }}">Borrar</a></td>
        </tr>
        {% endfor %}
    </table>
    </div>
            </div>
            </div>
        </div>
    </div>

</div>

    {% include 'paginator.html' %}

</div>

</main>

    <div class="modal fade bg-danger bg-opacity-10 py-5 " id="baja-caja-modal" tabindex="-1" role="dialog" aria-labelledby="baja-caja-modal-label">
  <div class="modal-dialog" role="document">
    <div class="modal-content rounded-4 shadow">
      <div class="modal-header border-bottom-0">
        <h4 class="modal-title fs-5" id="baja-caja-modal-label" >Eliminar movimiento de caja</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><span aria-hidden="true"></span></button>
      </div>
      <div class="modal-body py-0">



      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
document.querySelectorAll('[name="fechaDesde"], [name="fechaHasta"], [name="ingresos"], [name="egresos"]').forEach(function(element) {
  element.onchange = function() {
    document.getElementById('filtro-form').submit();
  };
});

function LimpiarFiltros(){
    document.querySelectorAll('[name="fechaDesde"], [name="fechaHasta"]').forEach(function(element) {
        element.value = '';
    });
    document.querySelectorAll('[name="ingresos"], [name="egresos"]').forEach(function(element) {
        element.value = true;
    });
}

function GenerarPDF(){

   var fechaDesde = document.getElementById("id_fechaDesde").value;
   var fechaHasta = document.getElementById("id_fechaHasta").value;
   var ingresos = document.getElementById("id_ingresos").checked;
   var egresos = document.getElementById("id_egresos").checked;

   var token = document.getElementsByName('csrfmiddlewaretoken')[0].value;

   var url = '/reporte_caja_pdf?csrfmiddlewaretoken=' + token + '&fechaDesde=' + fechaDesde + '&fechaHasta=' + fechaHasta +
   '&ingresos=' + ingresos + '&egresos=' + egresos;

   fetch(url)
        .then(response => response.blob())
        .then(blob => {
        let url = window.URL.createObjectURL(blob);
        window.open(url);
        });
}

  $(document).ready(function() {
  $('.eliminar-caja').click(function() {
    var idMov = $(this).data('id');
    var url = "/movimientoscaja/delete/" + idMov + "/";
    $.get(url, function(data) {
      $('#baja-caja-modal .modal-body').html(data);
      $('#baja-caja-modal').modal('show');
    });
  });
});

$(document).on('submit', '#baja-caja-form', function(e) {
    e.preventDefault();
    var form = $(this);
    var url = form.attr('action');
    console.log(url)
    $.ajax({
        type: 'POST',
        url: url,
        data: form.serialize(),
        success: function(data) {
                $('#baja-caja-modal').modal('hide');
                location.reload();
        },
        error: function(xhr, status, error) {
            alert('Error: ' + error);
        }
    });
});


</script>
{% endblock %}