{% extends 'base.html' %}
{% block content %}
<div class="container-fluid my-3">
        <h3>Habitaciones</h3>

    <div class="table-responsive">
        <table class="table table-bordered">
        <tr>
            <th>Número</th>
            <th>Plazas</th>
            <th>Habilitada</th>
        </tr>
        {% for hab in habitaciones %}
        <tr>
            <td>{{ hab.numero }}</td>
            <td>{{ hab.plazas }}</td>
            <td></td>
        </tr>
        {% endfor %}
    </table>
    </div>

</div>
{% endblock %}