{% extends 'base.html' %}
{% block title %}Precios{% endblock %}
{% block content %}

<main id="main" class="main">

    <div class="pagetitle">
      <h1>Precios</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/index">Home</a></li>
          <li class="breadcrumb-item">Precios</li>
          <li class="breadcrumb-item active">Lista</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

<div class="container-fluid my-3">

   <div class="row">
       <div class="col-md-10">
            <h3 class="m-3" style ="float:left;">Listas de Precios</h3>

       </div>
       <div class="col-md-2">

            <a class="btn btn-success m-3" href="add" style="float: right;"><i class="fa-solid fa-plus"></i> Agregar</a>
       </div>
   </div>

     {% if messages %}
        {% for message in messages %}
    <div class="row">
           <div class="alert {{ message.tags }} alert-dismissible col-md-6">
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                {{ message }}
            </div>
    </div>

        {% endfor %}
    {% endif %}

    <div class="row">
    <div class="col-md-12">
        <div class="table-responsive">

            <div class="card">
            <div class="card-body">
              <h5 class="card-title">Tabla de clientes</h5>

    <table class="table table-hover">
        <thead>
        <tr>
            <th>Fecha inicio</th>
            <th>Fecha fin</th>
            <th>Tipo lista</th>
            <th style="width:1%"></th>
            <th style="width:1%"></th>
        </tr>
        </thead>
        <tbody>
        {% for lista in listas %}
        <tr>
            <td>{{ lista.vigenciaDesde|date:"d/m/Y" }}</td>
            <td>{{ lista.vigenciaHasta|date:"d/m/Y" }}</td>
            <td>{{ lista.get_idTipoLista_display}}</td>
            <td style="width:1%"><a class="btn btn-outline-primary btn-sm" href="edit/{{ lista.pk }}">Editar</a></td>
            <td style="width:1%"><a class="btn btn-outline-danger btn-sm" href="delete/{{ lista.pk }}">Borrar</a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
            </div>
            </div>

</div>
    </div>
</div>

    {% include 'paginator.html' %}
</div>

</main>

{% endblock %}