{% extends 'base.html' %}
{% block title %}Habitaciones{% endblock %}

{% block content %}

<main id="main" class="main">

    <div class="pagetitle">
      <h1>Habitaciones</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/index">Home</a></li>
          <li class="breadcrumb-item">Habitaciones</li>
          <li class="breadcrumb-item active">Lista</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

<div class="container-fluid my-3">
        <div class="row">
       <div class="col-md-10">
       </div>
       <div class="col-md-2">

            <a class="btn btn-success m-3" href="add" style="float: right;"><i class="fa-solid fa-plus"></i> Agregar</a>
       </div>
   </div>

     {% if messages %}
        {% for message in messages %}
    <div class="row">
           <div class="alert {{ message.tags }} alert-dismissible col-md-6">
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                {{ message }}
            </div>
    </div>

        {% endfor %}
    {% endif %}

    <div class="row">
    <div class="col-md-12">
        <div class="table-responsive">

            <div class="card">
            <div class="card-body">
              <h5 class="card-title">Tabla de habitaciones</h5>

        <table class="table table-hover">
        <tr>
            <th>Número</th>
            <th>Plazas</th>
            <th>Habilitada</th>
            <th style="width: 1%"></th>
            <th style="width: 1%"></th>
        </tr>
        {% for hab in habitaciones %}
        <tr>
            <td class="pointer" onclick="ViewItem({{ hab.pk }})">{{ hab.numero }}</td>
            <td class="pointer" onclick="ViewItem({{ hab.pk }})">{{ hab.plazas }}</td>
            <td class="pointer" onclick="ViewItem({{ hab.pk }})">
                {% if hab.habilitada %}
                    <i style="color: green;" class="fa-solid fa-check"></i>
                {% else %}
                    <i style="color: red;" class="fa-solid fa-x"></i>
                {% endif %}
            </td>

            <td style="width: 1%"><a class="btn btn-outline-primary btn-sm" href="edit/{{ hab.pk }}">Editar</a></td>
            <td style="width: 1%"><a class="btn btn-outline-danger btn-sm" href="delete/{{ hab.pk }}">Borrar</a></td>
        </tr>
        {% endfor %}
    </table>
    </div>
            </div>
            </div>
        </div>
    </div>
    {% include 'paginator.html' %}
</div>

</main>

{% endblock %}