{% extends 'base.html' %}
{% block content %}

<main id="main" class="main">

    <div class="pagetitle">
      <h1>Reservas</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/index">Home</a></li>
          <li class="breadcrumb-item">Reservas</li>
          <li class="breadcrumb-item active">Lista</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

<div class="container-fluid my-3">
   <div class="row">
       <div class="col-md-10">
            <h3 class="m-3" style ="float:left;">Reservas</h3>

       </div>
       <div class="col-md-2">

            <a class="btn btn-success m-3" href="add" style="float: right;">Agregar</a>
       </div>
   </div>

     {% if messages %}
        {% for message in messages %}
    <div class="row">
           <div class="alert {{ message.tags }} alert-dismissible col-md-6">
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                {{ message }}
            </div>
    </div>

        {% endfor %}
    {% endif %}

  <div id="accordion">

      {% for reserva in reservas %}
    <div class="card">
      <div class="card-header">
        <a class="btn" data-bs-toggle="collapse" href="#collapse{{ forloop.counter }}">
            {{ reserva.idCliente }} - {{ reserva.fechaIngreso }}
        </a>
          <div style="float: right;">
            <a class="btn btn-outline-primary btn-sm" href="edit/{{ reserva.pk }}">Editar</a>
            <a class="btn btn-outline-danger btn-sm" href="delete/{{ reserva.pk }}">Borrar</a>
          </div>
      </div>
      <div id="collapse{{ forloop.counter }}" class="collapse" data-bs-parent="#accordion">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered table-striped mx-5" style="width: 300px">
                    <tr>
                        <td style="width: 80px;"><i class="fa-sharp fa-solid fa-person" title="Cantidad de personas"></i></td>
                        <td>{{ reserva.cantidadPersonas }} pax</td>
                    </tr>
                    <tr>
                        <td style="width: 80px;"><i class="fa-solid fa-bed" title="N° de habitación"></i></td>
                        <td>{{ reserva.idHabitacion }}</td>
                    </tr>
                    <tr>
                        <td style="width: 80px;"><i class="fa-solid fa-money-bill-1" title="Precio total"></i></td>
                        <td>$ {{ reserva.precioTotal }}</td>
                    </tr>
                </table>
                <a type="button" class="btn btn-secondary ms-5" href="viewdetail/{{ reserva.pk }}">Ver mas</a>
            </div>
        </div>
      </div>
    </div>

      {% endfor %}
  </div>
</div>

</main>

{% endblock %}