{% extends 'base.html' %}
{% block title %}Reserva{% endblock %}

{% block content %}

{% load static %}


<main id="main" class="main">

    <div class="pagetitle">
      <h1>Reservas</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/index">Home</a></li>
          <li class="breadcrumb-item"><a href="/reservas">Reservas</a></li>
          <li class="breadcrumb-item active">Agregar</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

<div class="container-fluid m-3">

    {% if messages %}
        {% for message in messages %}
    <div class="row">
           <div class="alert {{ message.tags }} alert-dismissible col-md-6">
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                {{ message }}
            </div>
    </div>

        {% endfor %}
    {% endif %}

        <div class="col-md-12 offset-md-0 m-0">
        <div class="card">
            <div class="card-body">


        <form method="post">
            {% csrf_token %}

            <div class="row justify-content-end container">

               <div class="col-md-3" style="float:right; margin-top: 15px">
                    <label>{{ form_reserva.fechaRegistro.label }}</label>
                    {{ form_reserva.fechaRegistro}}
                </div>
                <div class="col-md-2" style="float:right; margin-top: 15px">
                    <label>{{ form_reserva.idHabitacion.label }}</label>
                    {{ form_reserva.idHabitacion}}
                </div>
            </div>

            <h5 class="card-title">Datos del cliente</h5>
            <div class="row">
<!--                <div class="col-md-12">-->
<!--                    {{ form_cliente.as_p }}-->
<!--                </div>-->
                <div class="col-md-6" style="margin-top: 15px">
                    <label>{{ form_cliente.nombreYApellido.label }}</label>
                    {{ form_cliente.nombreYApellido}}
                </div>
               <div class="col-md-6" style="margin-top: 15px">
                    <label>{{ form_cliente.dni.label }}</label>
                    {{ form_cliente.dni}}
                </div>

            </div>

            <div class="row">
                <div class="col-md-6" style="margin-top: 15px">
                    <label>{{ form_cliente.email.label }}</label>
                    {{ form_cliente.email}}
                </div>
               <div class="col-md-6" style="margin-top: 15px">
                    <label>{{ form_cliente.telefono.label }}</label>
                    {{ form_cliente.telefono}}
                </div>

            </div>
            <div class="row">

                <div class="col-md-8" style="margin-top: 15px">
                    <label>{{ form_cliente.direccion.label }}</label>
                    {{ form_cliente.direccion}}
                </div>

            </div>
            <div class="row">
                {{ form_reserva.media.css }}
                <div class="col-md-8" style="margin-top: 15px">
                    <label>Cliente</label>
                    {{ form_reserva.idCliente}}
                </div>
            </div>
            <h5 class="card-title">Datos de la Reserva</h5>

            <div class="row"  style="margin-top: 15px">
                <div class="col-md-5">
                    <label>{{ form_reserva.fechaIngreso.label }}</label>
                    {{ form_reserva.fechaIngreso }}
                </div>
                <div class="col-md-5">
                    <label>{{ form_reserva.fechaEgreso.label }}</label>
                    {{ form_reserva.fechaEgreso }}
                </div>
            </div>
            <div class="row" style="margin-top: 15px">
                <div class="col-md-2">
                    <label>{{ form_reserva.cantidadPersonas.label }}</label>
                    {{ form_reserva.cantidadPersonas }}
                </div>
                <div class="col-md-4">
                     <label>{{ form_reserva.precioPorDia.label }}</label>
                    {{ form_reserva.precioPorDia }}
                </div>
                <div class="col-md-4">
                     <label>{{ form_reserva.precioTotal.label }}</label>
                     {{ form_reserva.precioTotal }}
                </div>
            </div>
            <div class="row"  style="margin-top: 15px">
                <div class="col-md-5">
                     <label>{{ form_reserva.seniaSolicitada.label }}</label>
                     {{ form_reserva.seniaSolicitada }}
                </div>

            </div>

            <div class="row" style="margin-top:15px">
                 <div class="col-md-5">
                     <label>{{ form_reserva.incluyeDesayuno.label }}</label>
                     {{ form_reserva.incluyeDesayuno }}
                </div>
            </div>

            <div class="row"  style="margin-top: 15px">
                <div class="col-mf-8">
                    <label>{{ form_reserva.observaciones.label }}</label>
                    {{ form_reserva.observaciones }}
                </div>
            </div>
{{ form_reserva.media.js }}
            <button type="submit" class="btn btn-success" style="margin-top:15px;">Enviar</button>
        </form>
            </div>
        </div>
    </div>
</div>

</main>

<script src="{% static 'django_select2/django_select2.js' %}"></script>
<link href="{% static 'django_select2/css/select2.min.css' %}" rel="stylesheet" type="text/css"/>
<script type="text/javascript">

$(document).ready(function() {
    $("#id_idCliente").select2({
      width: 'resolve'
    });
  });

function CalcularSenia(precioTotal, precioPorDia, dias){

    var campoSenia = document.getElementById("id_seniaSolicitada");

    if (dias <= 3){
        //Si la reserva es por menos de 3 días se cobra un dia de estadia como seña
        campoSenia.value = precioPorDia;
    } else{
        //Si no calculamos el 30% del total
        campoSenia.value = precioTotal * 0.3
    }
}

function CalcularPrecioTotal(fechaIngreso, fechaEgreso, precio){
    var fechaIngreso = new Date(fechaIngreso);
    var fechaEgreso = new Date(fechaEgreso);
    var precio = precio;

    var difFechas = fechaEgreso - fechaIngreso;
    var difEnDias = difFechas / (1000 * 60 * 60 * 24);

    var precioTotal = difEnDias * precio;

    document.getElementById("id_precioTotal").value = precioTotal;

    CalcularSenia(precioTotal, precio, difEnDias);
}

function GetPrice(fechaIngreso, fechaEgreso, cantidadPersonas) {

    if (!fechaIngreso || !fechaEgreso || !cantidadPersonas) return;

    var jsonObject = {
        fechaIngreso: fechaIngreso,
        fechaEgreso: fechaEgreso,
        cantidadPersonas: cantidadPersonas };

    var csrftoken = document.getElementsByName('csrfmiddlewaretoken')[0].value;

    fetch("/get_precio/", {
        method: "POST",
        headers: { "Content-Type": "application/json" , "X-CSRFToken": csrftoken },
        body: JSON.stringify(jsonObject)
    })
        .then(response => response.json())
        .then(data => {
            document.getElementById("id_precioPorDia").value = data.precio;

            CalcularPrecioTotal(fechaIngreso, fechaEgreso, data.precio);
        });
}

function GetComboHabitaciones(fechaIngreso, fechaEgreso){

    if (!fechaIngreso || !fechaEgreso) return;

    var select = document.getElementById("id_idHabitacion");

    if (select.value) return;

    fetch('/api/habitaciones/disponibles?fecha_ingreso='+fechaIngreso+'&fecha_egreso='+fechaEgreso)
        .then(response => response.json())
        .then(data => {
            //var select = document.getElementById("id_idHabitacion");
            var options = "";
            for(var i = 0; i < data.length; i++) {
                options += "<option value='"+data[i].id+"'>"+data[i].numero+"</option>";
            }
            select.innerHTML = options;
            select.value = '';
        });
}

function GetPrecioYComboHabitaciones(){

    var fechaIngreso = document.getElementById("id_fechaIngreso").value;
    var fechaEgreso = document.getElementById("id_fechaEgreso").value;
    var cantidadPersonas = document.getElementById("id_cantidadPersonas").value;

    GetPrice(fechaIngreso, fechaEgreso, cantidadPersonas);
    GetComboHabitaciones(fechaIngreso, fechaEgreso);
}

document.getElementById("id_fechaIngreso").addEventListener("change", GetPrecioYComboHabitaciones);
document.getElementById("id_fechaEgreso").addEventListener("change", GetPrecioYComboHabitaciones);
document.getElementById("id_cantidadPersonas").addEventListener("change", GetPrecioYComboHabitaciones);

</script>
{% endblock %}