{% extends 'base.html' %}
{% block title %}Reserva{% endblock %}

{% block content %}

<main id="main" class="main">

    <div class="pagetitle">
      <h1>Reservas</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/index">Home</a></li>
          <li class="breadcrumb-item"><a href="/reservas">Reservas</a></li>
          <li class="breadcrumb-item active">Agregar</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

<div class="container-fluid m-3">

    {% if messages %}
        {% for message in messages %}
    <div class="row">
           <div class="alert {{ message.tags }} alert-dismissible col-md-6">
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                {{ message }}
            </div>
    </div>

        {% endfor %}
    {% endif %}

        <div class="col-md-12 offset-md-0 m-0">
        <div class="card">
            <div class="card-body">


        <form method="post">
            {% csrf_token %}

            <div class="row justify-content-end container">

               <div class="col-md-3" style="float:right; margin-top: 15px">
                    <label>{{ form_reserva.fechaRegistro.label }}</label>
                    {{ form_reserva.fechaRegistro}}
                </div>
                <div class="col-md-2" style="float:right; margin-top: 15px">
                    <label>{{ form_reserva.idHabitacion.label }}</label>
                    {{ form_reserva.idHabitacion}}
                </div>
            </div>

            <h5 class="card-title">Datos del cliente</h5>

            <div class="row">
                <div class="col-md-4">
                     <div class="form-check form-switch container" style="margin-left:10px; margin-top:10px;">
                          <label>Buscar cliente existente</label>
                          <input class="form-check-input" type="checkbox" role="switch" id="buscar_cliente" onchange="ActivarBuscarCliente()">
                      </div>
                </div>


                <div class="col-md-8 form-group" hidden id="id_cliente">
                    <label>{{ form_reserva.idCliente.label }}</label>
                    <div>{{ form_reserva.idCliente}}</div>

                </div>
            </div>


            <fieldset id="datos_cliente">

                            <div class="row">
<!--                <div class="col-md-12">-->
<!--                    {{ form_cliente.as_p }}-->
<!--                </div>-->
                <div class="col-md-6" style="margin-top: 15px">
                    <label>{{ form_cliente.nombreYApellido.label }}</label>
                    {{ form_cliente.nombreYApellido}}
                </div>
               <div class="col-md-6" style="margin-top: 15px">
                    <label>{{ form_cliente.dni.label }}</label>
                    {{ form_cliente.dni}}
                </div>

            </div>

            <div class="row">
                <div class="col-md-6" style="margin-top: 15px">
                    <label>{{ form_cliente.email.label }}</label>
                    {{ form_cliente.email}}
                </div>
               <div class="col-md-6" style="margin-top: 15px">
                    <label>{{ form_cliente.telefono.label }}</label>
                    {{ form_cliente.telefono}}
                </div>

            </div>
            <div class="row">

                <div class="col-md-8" style="margin-top: 15px">
                    <label>{{ form_cliente.direccion.label }}</label>
                    {{ form_cliente.direccion}}
                </div>

            </div>

            </fieldset>

            <h5 class="card-title">Datos de la Reserva</h5>

            <div class="row"  style="margin-top: 15px">
                <div class="col-md-5">
                    <label>{{ form_reserva.fechaIngreso.label }}</label>
                    {{ form_reserva.fechaIngreso }}
                </div>
                <div class="col-md-5">
                    <label>{{ form_reserva.fechaEgreso.label }}</label>
                    {{ form_reserva.fechaEgreso }}
                </div>
            </div>
            <div class="row" style="margin-top: 15px">
                <div class="col-md-2">
                    <label>{{ form_reserva.cantidadPersonas.label }}</label>
                    {{ form_reserva.cantidadPersonas }}
                </div>
                <div class="col-md-4">
                     <label>{{ form_reserva.precioPorDia.label }}</label>
                    {{ form_reserva.precioPorDia }}
                </div>
                <div class="col-md-4">
                     <label>{{ form_reserva.precioTotal.label }}</label>
                     {{ form_reserva.precioTotal }}
                </div>
            </div>
            <div class="row"  style="margin-top: 15px">
                <div class="col-md-5">
                     <label>{{ form_reserva.seniaSolicitada.label }}</label>
                     {{ form_reserva.seniaSolicitada }}
                </div>

            </div>
            <div class="row" id="warning_precios" hidden>
                <div class="col-md-7 alert alert-warning m-3" role="alert">
                    <p><strong>Advertencia:</strong></p>
                    <p>No hay precios cargados para las fechas solicitadas.</p>
                </div>
            </div>

            <div class="row" style="margin-top:15px">
                 <div class="col-md-5">
                     <label>{{ form_reserva.incluyeDesayuno.label }}</label>
                     {{ form_reserva.incluyeDesayuno }}
                </div>
            </div>

            <div class="row"  style="margin-top: 15px">
                <div class="col-mf-8">
                    <label>{{ form_reserva.observaciones.label }}</label>
                    {{ form_reserva.observaciones }}
                </div>
            </div>

            <button type="submit" class="btn btn-success" style="margin-top:15px;">Enviar</button>
        </form>
            </div>
        </div>
    </div>
</div>

    <div class="modal fade" id="agregar-cliente-modal" tabindex="-1" role="dialog" aria-labelledby="agregar-cliente-modal-label">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="agregar-cliente-modal-label" >Actualizar datos del cliente</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><span aria-hidden="true"></span></button>
      </div>
      <div class="modal-body">

      </div>
    </div>
  </div>
</div>

</main>


<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>

<script type="text/javascript">

jQuery(document).ready(function($){
    $(document).ready(function() {
        $('.select-search').select2({
            theme: "bootstrap-5"
        });
    });
});

function ActivarBuscarCliente(){

    var buscarCliente = document.getElementById("buscar_cliente").checked;

    if (buscarCliente){
        document.getElementById("datos_cliente").disabled = true;
        document.getElementById("id_cliente").hidden = false;
        document.getElementById("id_idCliente").setAttribute("required", "");
    } else {
        document.getElementById("datos_cliente").disabled = false;
        document.getElementById("id_cliente").hidden = true;
        document.getElementById("id_idCliente").removeAttribute("required");
    }


}

function CalcularSenia(precioTotal, precioPorDia, dias){

    var campoSenia = document.getElementById("id_seniaSolicitada");

    if (dias <= 3){
        //Si la reserva es por menos de 3 días se cobra un dia de estadia como seña
        campoSenia.value = precioPorDia;
    } else{
        //Si no calculamos el 30% del total
        campoSenia.value = precioTotal * 0.3
    }
}

function CalcularPrecioTotal(){
    var fechaIngreso = new Date(document.getElementById("id_fechaIngreso").value);
    var fechaEgreso = new Date(document.getElementById("id_fechaEgreso").value);
    var precio = document.getElementById("id_precioPorDia").value;

    var difFechas = fechaEgreso - fechaIngreso;
    var difEnDias = difFechas / (1000 * 60 * 60 * 24);

    var precioTotal = difEnDias * precio;

    document.getElementById("id_precioTotal").value = precioTotal;

    CalcularSenia(precioTotal, precio, difEnDias);
}

function GetPrice(fechaIngreso, fechaEgreso, cantidadPersonas) {

    if (!fechaIngreso || !fechaEgreso || !cantidadPersonas) return;

    var jsonObject = {
        fechaIngreso: fechaIngreso,
        fechaEgreso: fechaEgreso,
        cantidadPersonas: cantidadPersonas };

    var csrftoken = document.getElementsByName('csrfmiddlewaretoken')[0].value;

    fetch("/get_precio/", {
        method: "POST",
        headers: { "Content-Type": "application/json" , "X-CSRFToken": csrftoken },
        body: JSON.stringify(jsonObject)
    })
        .then(response => response.json())
        .then(data => {
            if (data.precio){
                document.getElementById("id_precioPorDia").value = data.precio;
            }
            else{
                document.getElementById("warning_precios").removeAttribute("hidden");
            }

            //CalcularPrecioTotal(fechaIngreso, fechaEgreso, data.precio);
        });
}

function GetComboHabitaciones(fechaIngreso, fechaEgreso){

    if (!fechaIngreso || !fechaEgreso) return;

    var select = document.getElementById("id_idHabitacion");

    if (select.value) return;

    fetch('/api/habitaciones/disponibles?fecha_ingreso='+fechaIngreso+'&fecha_egreso='+fechaEgreso)
        .then(response => response.json())
        .then(data => {
            //var select = document.getElementById("id_idHabitacion");
            var options = "";
            for(var i = 0; i < data.length; i++) {
                options += "<option value='"+data[i].id+"'>"+data[i].numero+"</option>";
            }
            select.innerHTML = options;
            select.value = '';
        });
}

function GetPrecioYComboHabitaciones(){

    var fechaIngreso = document.getElementById("id_fechaIngreso").value;
    var fechaEgreso = document.getElementById("id_fechaEgreso").value;
    var cantidadPersonas = document.getElementById("id_cantidadPersonas").value;

    GetPrice(fechaIngreso, fechaEgreso, cantidadPersonas);
    GetComboHabitaciones(fechaIngreso, fechaEgreso);
}

$(document).ready(function() {
  $('#id_idCliente').on("select2:select", function(e) {
    var idCliente = e.params.data.id;
    var url = "/clientes/editreserva/" + idCliente + "/";
    $.get(url, function(data) {
      $('#agregar-cliente-modal .modal-body').html(data);
      $('#agregar-cliente-modal').modal('show');
    });
  });
});

$(document).on('submit', '#agregar-cliente-form', function(e) {
    e.preventDefault();
    var form = $(this);
    var url = form.attr('action');

    $.ajax({
        type: 'POST',
        url: url,
        data: form.serialize(),
        success: function(data) {
            if (data) {
                // Si se guardó correctamente, cerrar el modal y actualizar la página
                $('#agregar-cliente-modal').modal('hide');
                document.getElementById("id_nombreYApellido").value = data.nombreYApellido;
                document.getElementById("id_dni").value = data.dni;
                document.getElementById("id_telefono").value = data.telefono;
                document.getElementById("id_direccion").value = data.direccion;
                document.getElementById("id_email").value = data.email;
            }

        },
        error: function(xhr, status, error) {
            alert('Error: ' + error);
        }
    });
});

document.getElementById("id_fechaIngreso").addEventListener("change", GetPrecioYComboHabitaciones);
document.getElementById("id_fechaEgreso").addEventListener("change", GetPrecioYComboHabitaciones);
document.getElementById("id_cantidadPersonas").addEventListener("change", GetPrecioYComboHabitaciones);
document.getElementById("id_precioPorDia").addEventListener("change", CalcularPrecioTotal)

</script>
{% endblock %}