{% extends 'base.html' %}
{% block content %}
<main id="main" class="main">

    <div class="pagetitle">
      <h1>Perfil</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/index">Home</a></li>
          <li class="breadcrumb-item">Usuarios</li>
          <li class="breadcrumb-item active">Perfil</li>
        </ol>
      </nav>
    </div><!
    -- End Page Title -->
<div>

    <section class="section profile">
      <div class="row">

        <div class="col-xl-8">

          <div class="card">
            <div class="card-body pt-3">
              <!-- Bordered Tabs -->
              <ul class="nav nav-tabs nav-tabs-bordered">

                <li class="nav-item">
                  <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Perfil</button>
                </li>

              </ul>
              <div class="tab-content pt-2">

                <div class="tab-pane fade show active profile-overview" id="profile-overview">
                  <h5 class="card-title">Detalles</h5>

                    <div class="row">
                        <div class="col-lg-3 col-md-4 label ">Usuario</div>
                        <div class="col-lg-9 col-md-8">{{ request.user.username }}</div>
                    </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label ">Nombre</div>
                    <div class="col-lg-9 col-md-8">{{ request.user.first_name }}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Apellido</div>
                    <div class="col-lg-9 col-md-8">{{ request.user.last_name }}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Email</div>
                    <div class="col-lg-9 col-md-8">{{ request.user.email }}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Ultimo inicio de sesion</div>
                    <div class="col-lg-9 col-md-8">{{ request.user.last_login }}</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
</div>
</main>



{% endblock %}