{% extends 'base.html' %}
{% block title %}Reservas{% endblock %}

{% block content %}


<main id="main" class="main">

      <div class="pagetitle">
      <h1>Reservas</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Inicio</a></li>
          <li class="breadcrumb-item">Reservas</li>
          <li class="breadcrumb-item active">Calendario</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <div class="container-fluid my-3">
        <div class="row justify-content-end">
            <div class="col-md-1">
                <a href="/calendario_reservas_pdf/{{ mes }}/{{ anio }}" class="btn btn-secondary btn-block " style="float: right;">
                    <i class="fa-regular fa-file-pdf"></i> PDF
                </a>
            </div>
        </div>
    </div>

  <div class="card">
    <div class="card-body">
        <div class="row justify-content-center">
            <div class="col-md-4">
                <h4 class="card-header" >
                  {% if mes == 1 %}
                    <a href="/reservas/calendar/12/{{ anio|add:-1 }}"><i class="fa-solid fa-chevron-left" style="color: #223868;"></i></a>
                        {% else %}
                    <a href="/reservas/calendar/{{ mes|add:-1}}/{{ anio }}"><i class="fa-solid fa-chevron-left" style="color: #F79B03;"></i></a>
                        {% endif %}
                    <span id="nombreMes" style="font-family: 'PT Sans', sans-serif; Color: #2B4A84;"></span>
                        {% if mes == 12 %}
                    <a href="/reservas/calendar/1/{{ anio|add:1 }}"><i class="fa-solid fa-chevron-right" style="color: #223868;"></i></a>
                        {% else %}
                    <a href="/reservas/calendar/{{ mes|add:1}}/{{ anio }}"><i class="fa-solid fa-chevron-right" style="color: #F79B03;"></i></a>
                        {% endif %}
                </h4>
            </div>
        </div>

        <div class="table-responsive tabla-cal">
            <table class="table table-bordered" >
                <thead>
            <!--    <tr>-->
            <!--        <th colspan="{{ cantidadDias|length|add:1 }}" style="text-align:center">-->
            <!--            <h4>-->

            <!--  </h4>-->
            <!--        </th>-->
            <!--    </tr>-->

                  <tr>
                      <th class="columnasCal"></th>
                    {% for dia in cantidadDias %}
                    <th id="res_diaSem_{{ dia }}" class="columnasCal"></th>
                    {% endfor %}
                  </tr>
                 <tr>
                    <th class="columnasCal"></th>
                    {% for dia in cantidadDias %}
                    <th id="res_dia_{{ dia }}" class="columnasCal">{{ dia }}</th>
                    {% endfor %}
                  </tr>
                </thead>

            <tbody>
              {% for hab in habitaciones %}
              <tr data-fila="{{ forloop.counter }}">
                <td class="columnasCal">{{ hab.numero }}</td>

                {% for dia in cantidadDias %}
                <td id="res_{{ hab.numero }}_{{ dia }}" class="columnasCal" data-bs-toggle="popover"></td>
                {% endfor %}
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
    </div>
  </div>
</main>

<script type="text/javascript">

var reservasJs = JSON.parse('{{ reservas|safe }}');
var feriadosJs = {{ feriados|safe }}.filter(x => x.date.datetime.month === {{ mes }} && x.primary_type === "National holiday").map(s => s.date.datetime.day);

function ConvertirFecha(fechaString){
    fecha = fechaString.split("/");
    return new Date(fecha[2], fecha[1] - 1, fecha[0]);
}

function GetEstadoReserva(reserva){

    if (reserva.total_pagos > 0) {
        return 'Confirmada';
    }

    var fechaVenc = new Date();
    fechaVenc.setDate(fechaVenc.getDate() + 2);

    if(ConvertirFecha(reserva.fechaRegistro).getTime() < fechaVenc.getTime()){
        return 'Vencida';
    } else {
        return 'Pendiente';
    }


}

function GetColorSegunReserva(nHab, fecha) {

        var reserva = reservasJs.find(f => f.idHabitacion &&
            f.idHabitacion.numero == nHab && ConvertirFecha(f.fechaIngreso) <= fecha && ConvertirFecha(f.fechaEgreso) >= fecha);

        if (!reserva)
            return;

        var estado = GetEstadoReserva(reserva);

        if (estado === 'Confirmada') {
            if (ConvertirFecha(reserva.fechaIngreso).getTime() == fecha.getTime()){
                return 'resConfirmadaFirst';
            } else{
                return 'resConfirmada';
            }
        } else {

            if(estado == 'Vencida'){

                 if (ConvertirFecha(reserva.fechaIngreso).getTime() == fecha.getTime()){
                    return 'resVencidaFirst';
                } else{
                    return 'resVencida';
                }

            } else{
                if (ConvertirFecha(reserva.fechaIngreso).getTime() == fecha.getTime()){
                    return 'resPendienteFirst';
                } else{
                    return 'resPendiente';
                }
            }


        }
}


function CargarColoresCalendario(){
 var i = 0;
    {% for dia in cantidadDias %}
        {% for hab in habitaciones %}

            var celda = document.getElementById('res_' + {{ hab.numero }} + '_' + {{ dia }});
            var fecha = new Date({{ anio }}, {{ mes }} - 1, {{ dia }});
            var clase = GetColorSegunReserva( {{ hab.numero }}, fecha);
            //celda.setAttribute('style', 'background-color: ' + color);
            celda.classList.add(clase)

             if (clase){
                celda.classList.add('reserva');
             }

             i += 1;
        {% endfor %}
    {% endfor %}

    for (var i = 0; i < feriadosJs.length; i++){
        var feriado = feriadosJs[i];

        celdaSem = document.getElementById('res_diaSem' + '_' + feriado)
        celdaSem.classList.add('weekend');

        celdaDia = document.getElementById('res_dia' + '_' + feriado)
        celdaDia.classList.add('weekend');

        {% for hab in habitaciones %}
            celdaHab = document.getElementById('res_' + {{ hab.numero }} + '_' + feriado)
            celdaHab.classList.add('weekend');
        {% endfor %}
    }
}

function ObtenerInfoReserva(res){
    var ret = "";

    var saldo = parseInt(res.precioTotal, 10) - res.total_pagos;
    var estado = GetEstadoReserva(res);
    var clase = '';

    switch (estado){
        case 'Confirmada':
            clase = 'text-success';
            break;

        case 'Pendiente':
            clase = 'text-warning';
            break;

        case 'Vencida':
            clase = 'text-danger';
            break;

        default:
            break;
    }

    ret += '<p><strong>Ingreso: </strong>' + res.fechaIngreso + '</p>';
    ret += '<p><strong>Egreso: </strong>' + res.fechaEgreso + '</p>';
    ret += '<p><strong>Pax: </strong>' + res.cantidadPersonas + '</p>';
    ret += '<p><strong>Saldo: </strong>$' + saldo + '</p>';
    ret += '<p class="' + clase + '"><strong>' + estado + '</strong></p>';
    ret += '<a class="btn btn-outline-primary" type="button" href="/reservas/edit/' + res.pk + '">Ir a Reserva</a>'

    return ret;
}

/*function SetPopoverReserva(){

    for (var i = 0; i < reservasJs.length; i++){
        var reserva = reservasJs[i];

        if (!reserva.idHabitacion) continue;

        var fechaIngresoSplit = reserva.fechaIngreso.split("/");
        var fechaEgresoSplit = reserva.fechaEgreso.split("/");
        var hab = reserva.idHabitacion.numero;

        var contentRes = ObtenerInfoReserva(reserva);
        var contentTitle = reserva.idCliente.nombreYApellido;

        var inicio = 1;
        var fin = 1;

        if (parseInt(fechaIngresoSplit[1], 10) === {{ mes }}){
            inicio = fechaIngresoSplit[0];
        }

        if (parseInt(fechaEgresoSplit[1], 10) === {{ mes }}){
            fin = fechaEgresoSplit[0];
        }
        else{
            fin = {{ cantidadDias|length }};
        }

        for (var j = inicio; j < fin; j++){
            var id = "res_" + j + "_" + hab;
            var celda = document.getElementById(id);

            var popover = new bootstrap.Popover(celda, {
            toggle: 'popover',
            trigger: 'click',
            title: contentTitle,
            html: true,
            content: contentRes});
        }
    }
}*/

function ObtenerNombreMes() {
  let fecha = new Date();
  let mesInt = {{ mes }};
  let mes = '';
  if (0 < mesInt && mesInt <= 12) {
    fecha.setMonth(mesInt - 1);
    mes = new Intl.DateTimeFormat('es-ES', { month: 'long'}).format(fecha);
  }
  document.getElementById('nombreMes').innerHTML = mes.toUpperCase() + ' ' + {{ anio }};
}

function CargarDiasDeSemana(){
    var fecha = new Date({{ anio }}, {{ mes }} - 1, 1);
    var diaSem = fecha.getDay();

    var diasSemana = {
        0: "Dom",
        1: "Lun",
        2: "Mar",
        3: "Mie",
        4: "Jue",
        5: "Vie",
        6: "Sab"
    };

    {% for dia in cantidadDias %}
        var celda = document.getElementById('res_diaSem_' + {{ dia }});
        celda.innerHTML = diasSemana[diaSem];


         if (diaSem == 0 || diaSem == 6){

         celda.classList.add('weekend');

         var celdaDia = document.getElementById('res_dia_' + {{ dia }});
         celdaDia.classList.add('weekend')

            {% for hab in habitaciones %}

            var celdaWeekend = document.getElementById('res_'+ {{ hab }} + '_' + {{ dia }});
            celdaWeekend.classList.add('weekend');

            {% endfor %}
        }

        if (diaSem < 6)
            diaSem += 1;
        else
            diaSem = 0;

    {% endfor %}
}

function CargarDatosDeInicio(){
    ObtenerNombreMes();
    CargarColoresCalendario();
    CargarDiasDeSemana();
}

function SetPopover(celda){
    var datos = celda.id.split("_")
    var diaRes =  datos[2];
    var nHab = datos[1];
    var fecha = new Date({{ anio }}, {{ mes }} - 1, diaRes);

    var reserva = reservasJs.find(f => f.idHabitacion &&
            f.idHabitacion.numero == nHab && ConvertirFecha(f.fechaIngreso) <= fecha && ConvertirFecha(f.fechaEgreso) >= fecha);

        if (!reserva)
            return;

    var contentRes = ObtenerInfoReserva(reserva);
    var contentTitle = reserva.idCliente.nombreYApellido;

    return new bootstrap.Popover(celda, {
            toggle: 'popover',
            trigger: 'click',
            title: contentTitle,
            html: true,
            sanitize: false,
            content: contentRes});
}

window.addEventListener('load', CargarDatosDeInicio());

const popoverTriggerList = document.getElementsByClassName('reserva')
const popoverList = [...popoverTriggerList].map(popoverTriggerEl => SetPopover(popoverTriggerEl))

</script>
{% endblock %}