{% extends 'base.html' %}
{% block title %}Reserva{% endblock %}

{% block content %}

<main id="main" class="main">

    <div class="pagetitle">
      <h1>Reservas</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/index">Inicio</a></li>
          <li class="breadcrumb-item"><a href="/reservas">Reservas</a></li>
          <li class="breadcrumb-item active">Agregar</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

<div class="container-fluid m-3">

    {% if messages %}
        {% for message in messages %}
    <div class="row">
           <div class="alert {{ message.tags }} alert-dismissible col-md-6">
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                {{ message }}
            </div>
    </div>

        {% endfor %}
    {% endif %}

        {% if form_reserva.non_field_errors %}
    <div class="row">
        {% for error in form_reserva.non_field_errors %}
        <div class="alert alert-danger alert-dismissible col-md-6" role="alert">
            {{ error|safe }}
        </div>
        {% endfor %}

    </div>
{% endif %}

        {% if form_cliente.non_field_errors %}
    <div class="row">
        {% for error in form_cliente.non_field_errors %}
        <div class="alert alert-danger alert-dismissible col-md-6" role="alert">
            {{ error|safe }}
        </div>
        {% endfor %}

    </div>
{% endif %}

        <div class="col-md-12 offset-md-0 m-0">
        <div class="card">
            <div class="card-body">


        <form method="post">
            {% csrf_token %}
    <fieldset {% if form_reserva.fechaCancelacion.value %} disabled {% endif %}>
                    <div class="row justify-content-between container" style="margin-top: 15px;">

                <div class="col-md-5">
                    <div class="row">

                        <div class="col-4">
                            <label>{{ form_reserva.idHabitacion.label }}</label>
                            {{ form_reserva.idHabitacion}}
                        </div>
                        <div class="col-7" style="margin-top: 25px;">
                            Fecha de registro: {{ form_reserva.fechaRegistro.value|date:"d/m/Y" }}
                        </div>
                        <div hidden>
                            {{ form_reserva.fechaRegistro }}
                        </div>
                    </div>
                </div>

                {% if form_reserva.fechaCancelacion.value %}
                 <div class="col-3" style="float:right;">
                    <div style="color: red; margin-top: 15px; font-size:25;">CANCELADA</div>
                     <div>Fecha de cancelacion: {{ form_reserva.fechaCancelacion.value|date:"d/m/Y" }}</div>
                     <div hidden> {{ form_reserva.fechaCancelacion }}</div>
                </div>
                {% else %}
                <div class="col-3" style="float:right; margin-top: 15px; font-size:25;">
                    <div>Total: ${{ form_reserva.precioTotal.value}}</div>
                    <div style="color: red;">Saldo: ${{ saldo }}</div>
                </div>
                {% endif %}
                <div hidden>
                    {{ form_reserva.precioTotal }}
                </div>


            </div>

            <h5 class="card-title">Datos del cliente</h5>
            <div class="row">
<!--                <div class="col-md-12">-->
<!--                    {{ form_cliente.as_p }}-->
<!--                </div>-->
                <div class="col-md-6" style="margin-top: 15px">
                    <label>{{ form_cliente.nombreYApellido.label }}</label>
                    <span>{{ form_cliente.nombreYApellido}}</span>
                </div>
               <div class="col-md-6" style="margin-top: 15px">
                    <label>{{ form_cliente.dni.label }}</label>
                    <span>{{ form_cliente.dni}}</span>
                </div>

            </div>

            <div class="row">
                <div class="col-md-6" style="margin-top: 15px">
                    <label>{{ form_cliente.email.label }}</label>
                    <span>{{ form_cliente.email}}</span>
                </div>
               <div class="col-md-6" style="margin-top: 15px">
                    <label>{{ form_cliente.telefono.label }}</label>
                    <span>{{ form_cliente.telefono}}</span>
                </div>

            </div>
            <div class="row">

                <div class="col-md-8" style="margin-top: 15px">
                    <label>{{ form_cliente.direccion.label }}</label>
                    <span>{{ form_cliente.direccion}}</span>
                </div>

            </div>
            <h5 class="card-title">Datos de la Reserva</h5>

            <div style="display: none;">
                {{ form_reserva.idCliente }}
            </div>

            <div class="row"  style="margin-top: 15px">
                <div class="col-md-5">
                    <label>{{ form_reserva.fechaIngreso.label }}</label>
                    <span>{{ form_reserva.fechaIngreso }}</span>
                </div>
                <div class="col-md-5">
                    <label>{{ form_reserva.fechaEgreso.label }}</label>
                    <span>{{ form_reserva.fechaEgreso }}</span>
                </div>
            </div>
            <div class="row" style="margin-top: 15px">
                <div class="col-md-2">
                    <label>{{ form_reserva.cantidadPersonas.label }}</label>
                    <span>{{ form_reserva.cantidadPersonas }}</span>
                </div>
                <div class="col-md-4">
                     <label>{{ form_reserva.precioPorDia.label }}</label>
                    <span>{{ form_reserva.precioPorDia }}</span>
                </div>
            </div>
            <div class="row"  style="margin-top: 15px">
                <div class="col-md-5">
                     <label>{{ form_reserva.seniaSolicitada.label }}</label>
                    <span>{{ form_reserva.seniaSolicitada }}</span>
                </div>

            </div>

            <div class="row" style="margin-top:15px">
                 <div class="col-md-5">
                     <label>{{ form_reserva.incluyeDesayuno.label }}</label>
                    <span>{{ form_reserva.incluyeDesayuno }}</span>
                </div>
            </div>

            <div class="row"  style="margin-top: 15px">
                <div class="col-mf-8">
                    <label>{{ form_reserva.observaciones.label }}</label>
                    <span> {{ form_reserva.observaciones }}</span>
                </div>
            </div>

            <h5 class="card-title">Pagos</h5>


                <div col-md-8 offset-md-4 mt-5>
                <div>


                    <div class="table-responsive">
                        <table class="table table-hover" style="text-align: center; width: 800px;">
                            <thead>
                                <tr>
                                    <th>Fecha</th>
                                    <th>Monto</th>
                                    <th>Concepto</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for pago in pagos %}


                            <tr {% if pago.idTipoMovimiento == "EG" %} style="background-color:#FFE4E4;" {% endif %}>
                                <td>{{ pago.fecha|date:"d/m/Y" }}</td>
                                <td>$ {{ pago.monto}}</td>
                                <td>{{ pago.get_idConcepto_display }}</td>
                            </tr>

                            {% empty %}
                                    <tr>
                                        <td colspan="3"> <i>*** No hay pagos registrados ***</i></td>
                                    </tr>

                            {% endfor %}
                            </tbody>


                            <tfoot>
                            <tr>
                                <td colspan="3">
                                    <button type="button" class="btn btn-outline-success" id="AgregarPago">Agregar pago</button>
                                </td>

                            </tr>
                            </tfoot>
                        </table>
                    </div>

                </div>

            </div>


    </fieldset>
            <a type="button" class="btn btn-primary" href="/reservas/" style="margin-top:15px;">Volver</a>
        <button type="submit" class="btn btn-success" style="margin-top:15px;" {% if form_reserva.fechaCancelacion.value %} disabled {% endif %}>Enviar</button>

        </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="agregar-pago-modal" tabindex="-1" role="dialog" aria-labelledby="agregar-pago-modal-label">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="agregar-pago-modal-label" >Agregar Pago</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><span aria-hidden="true"></span></button>
      </div>
      <div class="modal-body">

      </div>
    </div>
  </div>
</div>

</main>

<script type="text/javascript">
    $(document).ready(function() {
  $('#AgregarPago').click(function() {
    var url = "/reservas/add/pagos/{{ id_reserva }}/"
    $.get(url, function(data) {
      $('#agregar-pago-modal .modal-body').html(data);
      $('#agregar-pago-modal').modal('show');
    });
  });
});

$(document).on('submit', '#agregar-pago-form', function(e) {
    e.preventDefault();
    var form = $(this);
    var url = form.attr('action');
    console.log(url)
    $.ajax({
        type: 'POST',
        url: url,
        data: form.serialize(),
        success: function(data) {
            if (data.success) {
                // Si se guardó correctamente, cerrar el modal y actualizar la página
                $('#pago-modal').modal('hide');
                location.reload();
            } else {
                // Si hubo errores, mostrar los mensajes de error
                alert('Error: ' + data.errors);
            }
        },
        error: function(xhr, status, error) {
            alert('Error: ' + error);
        }
    });
});


</script>


{% endblock %}